@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text_slider:first-child {
  animation: text_slider_1 20s ease infinite;
}

.text_slider:nth-child(2) {
  animation: text_slider_2 20s ease infinite;
}

.text_slider:nth-child(3) {
  animation: text_slider_3 20s ease infinite;
}
.text_slider:nth-child(4) {
  animation: text_slider_4 20s ease infinite;
}

@keyframes text_slider_1 {
  0% {
    left: 100%;
  }
  6.66% {
    left: 0;
  }
  13.32% {
    left: 0;
  }
  19.98% {
    left: 0;
  }
  26.64% {
    left: -100%;
  }

  100% {
    left: -100%;
  }
}

@keyframes text_slider_2 {
  0% {
    left: 100%;
  }
  26.64% {
    left: 100%;
  }
  33.33% {
    left: 0;
  }
  39.96% {
    left: 0;
  }
  46.62% {
    left: 0;
  }
  53.28% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes text_slider_3 {
  0% {
    left: 100%;
  }
  53.28% {
    left: 100%;
  }
  59.94% {
    left: 0;
  }
  66.6% {
    left: 0;
  }
  73.26% {
    left: 0;
  }
  79.92% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes text_slider_4 {
  0% {
    left: 100%;
  }
  79.92% {
    left: 100%;
  }
  86.58% {
    left: 0;
  }
  93.24% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.background-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(113deg)
    brightness(100%) contrast(103%);
}
